Basic Level

In [1]:
## SOLUTION NO - 1

In [2]:

for i in range(1, 11):
    # Printing the current number
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
## SOLUTION NO - 2

In [4]:
# Define a list of numbers
numbers = [10, 20, 30, 40, 50]

total = 0
for num in numbers:
    # Add the current number to the total sum
    total += num

# Print the total sum
print("The sum of all numbers in the list is:", total)

The sum of all numbers in the list is: 150

In [5]:
## SOLUTION NO - 3

In [6]:
# Define a string
string = "Hello, world!"


for char in reversed(string):
    # Print the current character
    print(char, end="")

# Output: "!dlrow ,olleH"

!dlrow ,olleH

In [7]:
## SOLUTION NO - 4

In [8]:
# Input the number for which you want to calculate the factorial
number = int(input("Enter a number: "))

# Initialize the factorial value to 1
fact = 1


for i in range(1, number + 1):
    # Multiply the current result by the current number i
    fact *= i

# Print the factorial of the input number
print("The factorial of", number, "is:", fact)

Enter a number:  4

The factorial of 4 is: 24

In [9]:
## SOLUTION NO - 5

In [15]:
# Input the number for which you want to print the multiplication table
number = int(input("Enter a number: "))

# Using a for loop to print the multiplication table
for i in range(1, 11):
    print(number, "x", i, "=", number * i)

Enter a number:  4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [10]:
## SOLUTION NO - 6

In [16]:
# Define a list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Initialize counters for even and odd numbers
even_count = 0
odd_count = 0

# Using a for loop to iterate over each number in the list
for num in numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

# Print the counts of even and odd numbers
print("Number of even numbers:", even_count)
print("Number of odd numbers:", odd_count)

Number of even numbers: 4
Number of odd numbers: 5

In [17]:
## SOLUTION NO - 7

In [18]:
# Using a for loop to print the squares of numbers from 1 to 5
for i in range(1, 6):
    print("Square of", i, "is:", i ** 2)

Square of 1 is: 1
Square of 2 is: 4
Square of 3 is: 9
Square of 4 is: 16
Square of 5 is: 25

In [12]:
## SOLUTION NO - 8

In [19]:
# Define a string
string = "Hello, world!"

# Initialize a counter for the length of the string
length = 0

# Using a for loop to iterate over each character in the string
for char in string:
    length += 1

# Print the length of the string
print("Length of the string is:", length)

Length of the string is: 13

In [13]:
## SOLUTION NO - 9

In [20]:
# Define a list of numbers
numbers = [10, 20, 30, 40, 50]

# Initialize variables for total sum and count of numbers
total = 0
count = 0


for num in numbers:
    total += num
    count += 1

# Calculate and print the average of the numbers
average = total / count
print("Average of the numbers is:", average)

Average of the numbers is: 30.0

In [14]:
## SOLUTION NO - 10

In [21]:
# Input the value of n
n = int(input("Enter the value of n: "))

# Initialize the first two numbers of the Fibonacci sequence
a, b = 0, 1

# Using a for loop to print the first n Fibonacci numbers
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the value of n:  5

0 1 1 2 3

Intermediate Level:

In [23]:
## SOLUTION NO - 11

In [33]:
# Define a list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 8, 9]


has_duplicates = False


for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
        if numbers[i] == numbers[j]:
            has_duplicates = True
            break

# Check if duplicates were found and print the result
if has_duplicates:
    print("The list contains duplicates.")
else:
    print("The list does not contain duplicates.")

The list contains duplicates.

In [24]:
## SOLUTION NO - 12

In [34]:
# Define the range
start = 10
end = 50

# Using a for loop to iterate over each number in the range
for num in range(start, end + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num, end=" ")

11 13 17 19 23 29 31 37 41 43 47

In [25]:
## SOLUTION NO - 13

In [35]:
# Define a string
string = "Hello, world!"

# Initialize a counter for vowels
vowel_count = 0

# Define vowels
vowels = "aeiouAEIOU"

# Using a for loop to iterate over each character in the string
for char in string:
    if char in vowels:
        vowel_count += 1

# Print the count of vowels
print("Number of vowels:", vowel_count)

Number of vowels: 3

In [26]:
## SOLUTION NO - 14

In [36]:
# Define a 2D list
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# Initialize a variable to store the maximum element
max_element = float("-inf")

# Using a nested for loop to iterate over each element in the 2D list
for row in matrix:
    for element in row:
        if element > max_element:
            max_element = element

# Print the maximum element
print("Maximum element in the 2D list:", max_element)

Maximum element in the 2D list: 9

In [27]:
## SOLUTION NO - 15

In [37]:
# Define a list
numbers = [1, 2, 3, 4, 5, 2, 6, 7, 2, 8, 9]

# Define the element to remove
element_to_remove = 2

# Using a for loop to iterate over each element in the list
# and remove the specified element
for _ in range(numbers.count(element_to_remove)):
    numbers.remove(element_to_remove)

# Print the list after removing the specified element
print("List after removing all occurrences of", element_to_remove, ":", numbers)

List after removing all occurrences of 2 : [1, 3, 4, 5, 6, 7, 8, 9]

In [28]:
## SOLUTION NO - 16

In [38]:
# Using a nested for loop to generate the multiplication table
for i in range(1, 6):
    for j in range(1, 11):
        print(i, "x", j, "=", i * j)
    print()  # Print an empty line after each table

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [29]:
## SOLUTION NO - 17

In [39]:
# Define a list of Fahrenheit temperatures
fahrenheit_temps = [32, 68, 100, 212]

# Using a for loop to iterate over each temperature and convert it to Celsius
for temp in fahrenheit_temps:
    celsius = (temp - 32) * 5 / 9
    print(temp, "Fahrenheit is equal to", celsius, "Celsius")

32 Fahrenheit is equal to 0.0 Celsius
68 Fahrenheit is equal to 20.0 Celsius
100 Fahrenheit is equal to 37.77777777777778 Celsius
212 Fahrenheit is equal to 100.0 Celsius

In [30]:
## SOLUTION NO - 18

In [40]:
# Define two lists
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Using a for loop to iterate over each element in the first list
# and check if it is present in the second list
common_elements = []
for num in list1:
    if num in list2:
        common_elements.append(num)

# Print the common elements
print("Common elements:", common_elements)

Common elements: [3, 4, 5]

In [31]:
## SOLUTION NO - 19

In [41]:
# Define the number of rows for the triangle
rows = 5

# Using a for loop to iterate over each row
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [32]:
## SOLUTION NO - 20

In [42]:
# Input the two numbers
num1 = 36
num2 = 48

# Initialize the GCD to 1
gcd = 1

# Using a for loop to find the GCD
for i in range(1, min(num1, num2) + 1):
    if num1 % i == 0 and num2 % i == 0:
        gcd = i

# Print the GCD
print("GCD of", num1, "and", num2, "is:", gcd)

GCD of 36 and 48 is: 12

Advanced Level

In [44]:
## SOLUTION NO - 21

In [54]:
# Define a list of numbers
numbers = [123, 456, 789]

# Using list comprehension to calculate the sum of digits of each number
sum_of_digits = [sum(int(digit) for digit in str(num)) for num in numbers]

# Print the sum of digits for each number
print("Sum of digits for each number:", sum_of_digits)

Sum of digits for each number: [6, 15, 24]

In [45]:
## SOLUTION NO - 22

In [55]:
# Input the number
number = 36

# Using list comprehension to find the prime factors of the number
prime_factors = [factor for factor in range(2, number + 1) if number % factor == 0 and all(factor % i != 0 for i in range(2, factor))]

# Print the prime factors
print("Prime factors of", number, ":", prime_factors)

Prime factors of 36 : [2, 3]

In [46]:
## SOLUTION NO - 23

In [56]:
# Define a list
numbers = [1, 2, 3, 2, 4, 5, 3, 6, 7, 8]

# Using list comprehension to extract unique elements
unique_elements = list(set(numbers))

# Print the unique elements
print("Unique elements:", unique_elements)

Unique elements: [1, 2, 3, 4, 5, 6, 7, 8]

In [47]:
## SOLUTION NO - 24

In [57]:
# Define the limit
limit = 100

# Using list comprehension to generate palindromic numbers
palindromic_numbers = [num for num in range(1, limit + 1) if str(num) == str(num)[::-1]]

# Print the palindromic numbers
print("Palindromic numbers up to", limit, ":", palindromic_numbers)

Palindromic numbers up to 100 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [48]:
## SOLUTION NO - 25

In [58]:
# Define a nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Using list comprehension to flatten the nested list
flattened_list = [element for sublist in nested_list for element in sublist]

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
## SOLUTION NO - 26

In [59]:
# Define a list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Using list comprehension to compute the sum of even and odd numbers separately
sum_even_odd = [sum(num for num in numbers if num % 2 == 0), sum(num for num in numbers if num % 2 != 0)]

# Print the sum of even and odd numbers separately
print("Sum of even numbers:", sum_even_odd[0])
print("Sum of odd numbers:", sum_even_odd[1])

Sum of even numbers: 20
Sum of odd numbers: 25

In [50]:
## SOLUTION NO - 27

In [60]:
# Using list comprehension to generate squares of odd numbers
squares_odd = [num ** 2 for num in range(1, 11) if num % 2 != 0]

# Print the squares of odd numbers
print("Squares of odd numbers between 1 and 10:", squares_odd)

Squares of odd numbers between 1 and 10: [1, 9, 25, 49, 81]

In [51]:
## SOLUTION NO - 28

In [61]:
# Define two lists
keys = ['a', 'b', 'c']
values = [1, 2, 3]

# Using list comprehension to combine the lists into a dictionary
combined_dict = {keys[i]: values[i] for i in range(len(keys))}

# Print the combined dictionary
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3}

In [52]:
## SOLUTION NO - 29

In [62]:
# Define a string
string = "Hello, world!"

# Using list comprehension to extract vowels from the string
vowels = [char for char in string if char.lower() in "aeiou"]

# Print the vowels
print("Vowels:", vowels)

Vowels: ['e', 'o', 'o']

In [53]:
## SOLUTION NO - 30

In [63]:
# Define a list of strings
strings = ['abc', '123', 'def456', '789ghi']

# Using list comprehension to remove non-numeric characters
numeric_strings = ["".join(char for char in string if char.isdigit()) for string in strings]

# Print the list after removing non-numeric characters
print("List after removing non-numeric characters:", numeric_strings)

List after removing non-numeric characters: ['', '123', '456', '789']

Challenge Level:

In [64]:
## SOLUTION NO - 31

In [74]:
# Input the limit
limit = 50

# Implementing Sieve of Eratosthenes algorithm using list comprehension
primes = [num for num in range(2, limit + 1) if all(num % i != 0 for i in range(2, int(num**0.5) + 1))]

# Print the list of prime numbers
print("List of prime numbers up to", limit, ":", primes)

List of prime numbers up to 50 : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [65]:
## SOLUTION NO - 32

In [75]:
# Input the limit
limit = 20

# Using list comprehension to generate Pythagorean triplets
pythagorean_triplets = [(a, b, c) for c in range(1, limit + 1) for b in range(1, c) for a in range(1, b) if a**2 + b**2 == c**2]

# Print the list of Pythagorean triplets
print("List of Pythagorean triplets up to", limit, ":", pythagorean_triplets)

List of Pythagorean triplets up to 20 : [(3, 4, 5), (6, 8, 10), (5, 12, 13), (9, 12, 15), (8, 15, 17), (12, 16, 20)]

In [66]:
## SOLUTION NO - 33

In [76]:
# Define two lists
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

# Using list comprehension to generate all possible combinations
combinations = [(x, y) for x in list1 for y in list2]

# Print the list of combinations
print("All possible combinations of two lists:", combinations)

All possible combinations of two lists: [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [67]:
## SOLUTION NO - 34

In [77]:
from statistics import mean, median, mode

# Define a list of numbers
numbers = [1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

# Using list comprehension to calculate mean, median, and mode
mean_val = mean(numbers)
median_val = median(numbers)
mode_val = mode(numbers)

# Print the mean, median, and mode
print("Mean:", mean_val)
print("Median:", median_val)
print("Mode:", mode_val)

Mean: 5
Median: 5.0
Mode: 5

In [68]:
## SOLUTION NO - 35

In [ ]:
# Input the number of rows
rows = 5

# Using list comprehension to generate Pascal's triangle
triangle = [[1] + [triangle[row - 1][i] + triangle[row - 1][i + 1] for i in range(len(triangle[row - 1]) - 1)] + [1] if row > 0 else [1] for row in range(rows)]

# Print Pascal's triangle
for row in triangle:
    print(row)

In [69]:
## SOLUTION NO - 36

In [85]:
# Define the limit
limit = 100

# Using list comprehension to generate prime palindromic numbers
prime_palindromic_numbers = [num for num in range(2, limit + 1) if num == int(str(num)[::-1]) and all(num % i != 0 for i in range(2, int(num**0.5) + 1))]

# Print the list of prime palindromic numbers
print("Prime palindromic numbers up to", limit, ":", prime_palindromic_numbers)

Prime palindromic numbers up to 100 : [2, 3, 5, 7, 11]

In [70]:
## SOLUTION NO - 37

In [81]:
# Define a sentence
sentence = "Hello, this is a sentence containing some words"

# Using list comprehension to find the longest word
longest_word = max(word.strip(",.") for word in sentence.split())

# Print the longest word
print("Longest word in the sentence:", longest_word)

Longest word in the sentence: words

In [71]:
## SOLUTION NO - 38

In [82]:
# Define a list of strings
strings = ["hello", "world", "python", "programming", "example", "vowel"]

# Using list comprehension to filter strings with more than three vowels
filtered_strings = [string for string in strings if sum(1 for char in string if char.lower() in "aeiou") > 3]

# Print the filtered list of strings
print("Strings with more than three vowels:", filtered_strings)

Strings with more than three vowels: []

In [72]:
## SOLUTION NO - 39

In [83]:
# Using list comprehension to calculate the sum of digits of numbers from 1 to 1000
sum_of_digits = [sum(int(digit) for digit in str(num)) for num in range(1, 1001)]

# Print the sum of digits
print("Sum of digits of numbers from 1 to 1000:", sum(sum_of_digits))

Sum of digits of numbers from 1 to 1000: 13501

In [73]:
## SOLUTION NO - 40

In [84]:
# Define the limit
limit = 100

# Using list comprehension to generate prime palindromic numbers
prime_palindromic_numbers = [num for num in range(2, limit + 1) if num == int(str(num)[::-1]) and all(num % i != 0 for i in range(2, int(num**0.5) + 1))]

# Print the list of prime palindromic numbers
print("Prime palindromic numbers up to", limit, ":", prime_palindromic_numbers)

Prime palindromic numbers up to 100 : [2, 3, 5, 7, 11]